main {
display: flex;
flex-flow: column nowrap;
width: 100vw;
}

h2 {
    font-size: 2.4rem;
    text-align: center;
}

.textoNosotros {
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 10rem;
}

p {
    padding: 1% 5%;
}