main {
display: flex;
flex-flow: column nowrap;
width: 100%;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1%;
}
.nosotros {
    font-size: 1rem;
    margin-left: 10%;
    margin-bottom: 2px;
    width: 80%;
    text-align: center;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 3%;
    align-items: center;
}

.divSection {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}
.divSection > h4 {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2%;
}
.divSection > p {
    margin: 2%;
    font-size: 1rem;
}

section > img {
    display: flex;
    width: 30%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}


/*PANTALLAS PEQUEÑAS*/
@media only screen and (max-width: 600px){
    section > img {
        display: none;
    }
    .divSection {
        width: 80%;
        text-align: center;
    }
    .divSection > p {
        margin: 4%;
    }
}

/*PANTALLAS MEDIANAS*/
@media only screen and (min-width: 601px) and (max-width: 1024px){
    section > img {
        display: none;
    }
    .divSection {
        width: 80%;
        text-align: center;
    }
    .divSection > p {
        margin: 4%;
        font-size: 1.5rem;
    }
}