/*WEBSITE NORMALIZATION*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    /*border-style: solid;
    border-color: red;*/
}

/*HEADER & NAV*/
header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    height: 10vh;
}

h1 {
    align-content: center;
    padding: 1rem;
}

nav {
    display: flex;
    width: 100%;
}
.nav-selector {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    list-style: none;
    align-content: center;
    font-size: 1.4rem;
}

.nav-item > a {
    text-decoration: none;
    color: #000;
}
.nav-item > a:hover {
    color: #46acff;
    border-bottom: 1.4px solid #46acff;
}

/*MAIN & CONTENT*/
.first-section {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagen-portada {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}
.shop-button {
    position: absolute;
    width: 20vw;
    height: 5vh;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-button:hover {
    background-color: #007bff;
    color: #fff;
}

.second-section {
    display: flex;
    flex-flow: row nowrap;
    height: 30vh;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    overflow: hidden;
}

.second-section-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30%;
    position: relative;
    transition: transform 0.3s;
}

.second-section-item:hover{
    transform: scale(1.1);
}

.imagen-second {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    filter: blur(1px);
}

.title-section {
    position: absolute;
    color: #fff;
    font-size: 1.4rem;
}

/*Boton Whatsapp flotante*/
.whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}
  
.whatsapp-button img {
    position: fixed;
    filter: invert();
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
}
  
.whatsapp-button:hover {
    background-color: #128c7e;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

/*redes*/
.redesFooter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 30vw;
    font-size: 1.2rem;
}

#redes {
    padding: 6px;
    margin: 5px;
}

/*suscripcion*/
.suscripcion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 30vw;
    font-size: 1.2rem;
}

.suscripcion > h2 {
    font-size: 1.4rem;
}

.correo {
    width: 70%;
    background: #ebebeb;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b4b5b6;
    font-size: 1.2rem;
}
.correo:hover {
    color: #000;
    background-color: #ddd8d8;
}

.enviar {
    width: 40%;
    height: 20%;
    background: #000;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}
.enviar:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/*faq's*/
.faqs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 30vw;
    font-size: 1.2rem;
}

.faqs > h3 {
    font-size: 1.6rem;
}

.faqs > a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 2%;
}

/*divisoriaFooter*/
.hr {
    height: 4px;
    background-color: black;
    margin: 0 3%;
}

/*politicasDataFiscal*/
.legales {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    margin: 1rem;
}

.legales > a {
    text-decoration: none;
    color: #000;
}

.dataFiscal {
    display: flex;
    flex-flow: row nowrap;
    height: 8vh;
}


/*QUERIES*/
/*PANTALLAS PEQUEÑAS*/
@media only screen and (max-width: 600px){
/*HEADER & NAV*/
header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    height: 30vh;
}

h1 {
    align-content: center;
    text-align: center;
    padding: 1rem;
}

.nav-selector {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
}

/*MAIN & CONTENT*/
.first-section {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagen-portada {
    max-width: fit-content;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.shop-button {
    position: absolute;
    width: 50vw;
    height: 5vh;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-section {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    overflow: hidden;
}

.second-section-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
    height: 30%;
    position: relative;
    transition: transform 0.3s;
}

.second-section-item:hover{
    transform: scale(1.1);
}

/*FOOTER*/
.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*redes*/
.redesFooter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100%;
    font-size: 1.2rem;
}

/*suscripcion*/
.suscripcion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100%;
    font-size: 1.2rem;
}

.suscripcion > h2 {
    font-size: 1.6rem;
}

.correo {
    width: 70%;
    background: #ebebeb;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b4b5b6;
    font-size: 1rem;
}
.correo:hover {
    color: #000;
    background-color: #ddd8d8;
}

.enviar {
    width: 40%;
    height: 20%;
    background: #000;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}
.enviar:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/*faq's*/
.faqs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    width: 100%;
    font-size: 1.2rem;
}

.faqs > h3 {
    font-size: 1.6rem;
}

.faqs > a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 0;
}
}
/*PANTALLAS MEDIANAS*/
@media only screen and (min-width: 601px) and (max-width: 1024px){

}
/*PANTALLAS GRANDES*/
@media only screen and (min-width: 1025px){

}

