/*WEBSITE NORMALIZATION*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    /*border-style: solid;
    border-color: red;*/
}

/*QUERIES*/
/*PANTALLAS PEQUEÑAS*/
@media only screen and (max-width: 600px){

}
/*PANTALLAS MEDIANAS*/
@media only screen and (min-width: 601px) and (max-width: 1024px){

}
/*PANTALLAS GRANDES*/
@media only screen and (min-width: 1025px){

}


/*HEADER & NAV*/
header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    height: 10vh;
}

h1 {
    align-content: center;
    padding: 1rem;
}

nav {
    display: flex;
    width: 100%;
}
.nav-selector {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    list-style: none;
    align-content: center;
    font-size: 1.4rem;
}

.nav-item > a {
    text-decoration: none;
    color: #000;
}
.nav-item:hover {
    color: #46acff;
    border-bottom: 1.4px solid #46acff;
}

/*MAIN & CONTENT*/
.first-section {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagen-portada {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}
.shop-button {
    position: absolute;
    width: 20vw;
    height: 5vh;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shop-button:hover {
    background-color: #007bff;
    color: #fff;
}

.second-section {
    display: flex;
    flex-flow: row nowrap;
    height: 30vh;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
    overflow: hidden;
}

.second-section-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30%;
    position: relative;
    transition: transform 0.3s;
}

.second-section-item:hover{
    transform: scale(1.1);
}

.imagen-second {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    filter: blur(1px);
}

.title-section {
    position: absolute;
    color: #fff;
    font-size: 1.4rem;
}

/*Boton Whatsapp flotante*/
.whatsapp-button {
    position: fixed;
    bottom: 150px;
    right: 40px;
    width: 80px;
    height: 80px;
    background-color: #25d366;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}
  
.whatsapp-button img {
    position: fixed;
    filter: invert();
    bottom: 170px;
    right: 60px;
    width: 40px;
    height: 40px;
}
  
.whatsapp-button:hover {
    background-color: #128c7e;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}
/*redes*/
.redesFooter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 8vw;
    width: 20%;
    font-size: 1.2rem;
}

.redes {
    height: 3.5vw;
    width: 3.5vw;
    margin-top: 6%;
}

/*suscripcion*/
.suscripcion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 30%;
    padding: 1%;
}

.suscripcion > h2 {
    font-size: 1.3rem;
}

.correo {
    width: 70%;
    background: #ebebeb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 2%;
    margin-top: 4%;
    border: 1px solid #b4b5b6;
    font-size: 1.2rem;
}
.correo:hover {
    color: #000;
    background-color: #ddd8d8;
}

.enviar {
    width: 50%;
    background: #75777c;
    border: none;
    padding: 2%;
    color: white;
    margin: 2% 0;
    font-size: 1.2rem;
    border-radius: 10px;
}
.enviar:hover {
    background-color: #000;
    color: #fff;
}

/*faq's*/
.faqs {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    width: 15%;
}

.faqs > h3 {
    font-size: 1.6rem;
}

.faqs > a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 2%;
}

/*divisoriaFooter*/
.hr {
    height: 4px;
    background-color: black;
    margin: 1% 3% 1% 3%;
}

/*politicasDataFiscal*/
.legales {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: end;
    margin-bottom: 1%;
}

.legales > a {
    text-decoration: none;
    color: #000;
}

.dataFiscal {
    display: flex;
    flex-flow: row nowrap;
    height: 8vh;
}